# CMake build artifacts
cmake-build-*/
build/
Build/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json

.idea/
*.iml

*.out
*.o
*.obj
*.exe
*.log
*.a
*.so
*.dll
*.dylib

*.tmp
*.cache
*.swp
*.swo
*.DS_Store
*.vscode/

CTestTestfile.cmake
DartConfiguration.tcl

*.user
*.userprefs

conanbuildinfo.*
conaninfo.txt
graph_info.json
